body {
	/* feel free to change height */
	height: 5000px;
	background: linear-gradient(
	  to bottom,
	  rgb(255, 118, 209),
	  rgb(255, 10, 104)
	);
  }
  
  #star-svg {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
  }