body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #000000;
}

.slideShow {
  position: relative;
  display: flex;
}

.slideShow .images img.active {
  opacity: 1;
}
.slideShow .colors {
  position: relative;
  width: 36em;
  height: 18em;
}
.slideShow .colors .color {
  background: var(--color);
  transform-origin: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slideShow .images {
  position: relative;
  top: -4em;
  left: 10em;
}
.slideShow .images img {
  position: absolute;
  width: 450px;
  height: 600px;
  opacity: 0;
  z-index: 9999;
}
.slideShow .titles {
  align-items: flex-start;
  margin: 0;
  padding: 0 0 0 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}
.slideShow .titles .nav-link {
  font-size: 2rem;
  font-family: Lora, serif;
  line-height: 2;
  text-decoration: none;
  color: #7f8c8d;
  transition: 0.3s;
}
.slideShow .titles .nav-link:hover {
  color: #ffffff;
}
.slideShow .titles .nav-link.active {
  color: rgb(255, 255, 255);
  pointer-events: none;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  text-align: left;
  background:black;
}
footer a {
  border-bottom: 1px solid black;
  color: rgb(216, 212, 212);
  font: 24px/180px serif;
  text-decoration: none;
}