:root {
  --txt-color: #fff;
  --txt-box-bg: #424242;
  --main-bg: #000;
  --main-front-color: #ffffff;
  --second-front-color: #c2c2c2;
  --third-front-color: #858585;
}

* {
  margin: 0px;
  padding: 0px;
}

.head-text {
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--txt-color);
  left: 50%;
  width: 1000px;
  transform: translate(-50%, -50%);
}

.full-page {
  background-size: cover;
  background-color: var(--main-bg);
  height: 100vh;
}

.title-text {
  position: absolute;
  /*Color the text with background*/
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /*The animated layer*/
  background-image:linear-gradient(#000,#000);
  background-size:100% 100%;
  background-position:right;
  background-repeat:no-repeat;
  transition:1s all;
  font-weight: bold;
  text-align: center;
  font-size: 90px;
  -webkit-text-stroke: 2px var(--main-front-color);
  animation: stroke-rainbow 13s linear infinite,
             text-rainbow 13s linear infinite;
}

.title-text:hover {
  background-size:0% 100%;
}

#westwood:hover{
	
}
#mugler:hover{
	
}
#mcqueen:hover{
	
}
#gaultier:hover{
	
}
#theyskens:hover{

}
#galliano:hover{
	
}

@keyframes stroke-rainbow {
  0% {
    border-color: var(--main-front-color);
    -webkit-text-stroke-color: var(--main-front-color);
  }
  25% {
    border-color: var(--second-front-color);
    -webkit-text-stroke-color: var(--second-front-color);
  }
  50% {
    border-color: var(--third-front-color);
    -webkit-text-stroke-color: var(--third-front-color);
  }
  75% {
    border-color: var(--second-front-color);
    -webkit-text-stroke-color: var(--second-front-color);
  }
  100% {
    border-color: var(--main-front-color);
    -webkit-text-stroke-color: var(--main-front-color);
  }
}

@keyframes text-rainbow {
  0% {
    background-color: var(--main-front-color);
  }
  25% {
    background-color: var(--second-front-color);
  }
  50% {
    background-color: var(--third-front-color);
  }
  75% {
    background-color: var(--second-front-color);
  }
  100% {
    background-color: var(--main-front-color);
  }
}